/** - Variables  -- */
$color:#fff;
$main-font : 'Helvetica','Arial', sans-serif;
$bg-color : #3D5D81;
$footer-color: #1d232a;
$map-color: #2c699e;
$firco-baner :#374a73;
body{
	background-color: $bg-color;
	color: $color;
	font-family: $main-font;
}

/* -  Main menu -*/

#menu-master{
	padding-top: 2em;
	padding-bottom: 2em;
}

#block-system-main-menu{
	clear:both;
	float:none;

	padding-bottom: 1.4rem;

	.menu{
		list-style:none;
		padding-left:0;
		li{
			float:left;
			list-style: none;
			a{
				color: darken($color,20%);
				text-decoration: none;
			}
		}
	}
}

h2.pane-title {
	font-size: 16px;
	color: lighten($footer-color,30%);
}

.pane-content{
	color: lighten($footer-color,60%);
}

#featured{
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: $map-color;
	text-align: center;
	h4{
		font-size:12px;
	}
}
#firco-baner{
	background-color: $firco-baner;
}

footer{
	background-color: $footer-color;
	padding-top: 2em;
	padding-bottom: 2em;;
}
