/** - Variables  -- */
body {
  background-color: #3D5D81;
  color: #fff;
  font-family: "Helvetica", "Arial", sans-serif; }

/* -  Main menu -*/
#menu-master {
  padding-top: 2em;
  padding-bottom: 2em; }

#block-system-main-menu {
  clear: both;
  float: none;
  padding-bottom: 1.4rem; }
  #block-system-main-menu .menu {
    list-style: none;
    padding-left: 0; }
    #block-system-main-menu .menu li {
      float: left;
      list-style: none; }
      #block-system-main-menu .menu li a {
        color: #cccccc;
        text-decoration: none; }

h2.pane-title {
  font-size: 16px;
  color: #5b6e85; }

.pane-content {
  color: #b0bcc9; }

#featured {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2c699e;
  text-align: center; }
  #featured h4 {
    font-size: 12px; }

#firco-baner {
  background-color: #374a73; }

footer {
  background-color: #1d232a;
  padding-top: 2em;
  padding-bottom: 2em; }

/*# sourceMappingURL=main.css.map */
